# Basics - Math operations

In [5]:
a = 5
b = a * 2
print(a, 'is the midpoint on a number scale of', b)

5 is the midpoint on a number scale of 10

In [14]:
print(b // 4) # shows only the integer value of quotient. decimal part is ignored.
print(b / 4) # shows the decimal part of quotient as well.
print(b % a) # shows the remainder.
print(5 ** 2) # exponential

2
2.5
0
25

# Basics - String Operations

In [15]:
str = 'Hello Python!!!'

In [27]:
print(str[0:7]) # param 1 - Starting index - If it is ignored, the default value is taken as zero (0)
                # param 2 - Ending index - But python takes the characters till (ending index-1)

Hello P

In [54]:
print(str[:5] + 'World!!!')

Hello\nWorld!!!

In [46]:
print(str[:6] * 2)

Hello Hello

In [55]:
print('h' not in str[:5]) # in operator is case sensitive

True

In [68]:
print(r'304\north block.') # the letter 'r' at the begining of the string makes the compiler treat 
                                # the string as a raw string. It is useful when we have a string which contains
                                # back slashes and we don't want the compiler to treat it as an escape character.

304\north block.

In [69]:
print('My name is %s and my weight is %i' % ('Amar Mehta', 75))

My name is Amar Mehta and my weight is 75

### Built in string methods

In [73]:
print('hello world!!!'.capitalize()) # Capitalizes the 1st character of a statement

Hello world!!!

In [75]:
print('hello world!!!'.center(20, '^')) # centers the text and fills up the extra space with given characters

^^^hello world!!!^^^

In [77]:
print('hello world!!!'.count('o', 0, 10))

2

In [88]:
print('hello world!!!'.find('z', 0, 10))
print('hello world!!!'.rfind('o', 0, 10))

-1
7

In [89]:
print('hello'.upper().lower().title())

Hello

In [94]:
print('123456789'[1::2]) # 1st param states, the starting position from where the printing will begin
                         # 2nd param states, till where should the fn keep printing
                         # 3rd param states, how many characters should the fn skip before printing the next character

2468

In [93]:
print('123456789'[0::2])

13579

In [40]:
print(' '.join(languages))

R Python SAS Scala 42

# List

In [36]:
languages = ['R','Python', 'SAS', 'Scala', '42']

In [4]:
languages.pop() # last element is popped first, hence works on LIFO method.

42

In [5]:
languages.append(42)

In [130]:
languages.append('java')

In [132]:
languages.append('Jython')

In [141]:
languages.append('Java')

In [24]:
languages.remove('Java')

In [13]:
languages.reverse() # reverses the content of the list. First becomes Last and vice versa.

In [146]:
languages.sort(key=str.lower, reverse=False)

In [144]:
languages

['42', 'java', 'Java', 'Jython', 'Python', 'R', 'SAS', 'Scala']

In [20]:
languages1 = languages # Doing this creates 2 pointers to the same memory space. changes to languages1 list object
                        # automatically gets reflected to the languages list object.

In [27]:
# to avoid creating pointer objects create a copy of the list
languages1 = languages.copy()

In [28]:
languages1.append('Java')

In [34]:
languages1

['R', 'Python', 'SAS', 'Scala', 42, 'Java']

In [31]:
s = "Hi Saif, this is to inform you that I'm not well today."
word_list = s.split()

In [41]:
len(word_list)

12

### Nested List and other operations

In [167]:
n1 = [1,2,3,4,5]
n2 = [6,7,8,9,0]
n3 = n1 + n2
print(n3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [75]:
sorted(n3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [76]:
print(max(n3))
print(min(n3))

9
0

In [77]:
print(n1*2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [170]:
nest = [n1,n2]

In [171]:
a1, b1 = nest

print(a1)
print(b1)

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 0]

In [79]:
nest[0][1] # accessing individual elements of the nested list.

2

In [64]:
nest[0:] # accessing the entire nested lists and not their individual elements

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 0], [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]]

In [65]:
nest[0::2]

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]]

In [80]:
nest[len(nest):]=[[11,12,13]]

In [81]:
len(nest)

4

In [93]:
print(nest)

[]

In [86]:
nest.extend([[22,23,24]])

In [88]:
del nest[:]

In [92]:
nest.clear()

### List Comprehension

-  A list comprehension consists of brackets containing an expression followed by a `for` clause then zero or more `for or if` clause.
-  Comprehension is a combination of control structures used for generating a new list.

In [95]:
comp = [[x,y] for x in [1,2,3] for y in [3,1,4] if x != y]
print(comp)

[[1, 3], [1, 4], [2, 3], [2, 1], [2, 4], [3, 1], [3, 4]]

In [96]:
squared = [[x, x**2] for x in range(6)]
print(squared)

[[0, 0], [1, 1], [2, 4], [3, 9], [4, 16], [5, 25]]

In [149]:
l = [i for i in range(10,0,-1)]
print(l)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [242]:
op = 0
sop = 0
pf = 0

for i in range(1, 999, 2):
    op += 1
    isprime = True
    
    for j in range(3, int(round(i/4,0)+4)):
        sop += 1
        if (i%j == 0):
            isprime = False
            break
            
    if isprime:
        pf += 1
        print('%i is a prime number' % i)
        
print('number of operations = %d and suboperation = %d | prime numbers found %d' % (op, sop, pf))        

#number of operations = 499 and suboperation = 77354 | prime numbers found 168

1 is a prime number
5 is a prime number
7 is a prime number
11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number
23 is a prime number
29 is a prime number
31 is a prime number
37 is a prime number
41 is a prime number
43 is a prime number
47 is a prime number
53 is a prime number
59 is a prime number
61 is a prime number
67 is a prime number
71 is a prime number
73 is a prime number
79 is a prime number
83 is a prime number
89 is a prime number
97 is a prime number
101 is a prime number
103 is a prime number
107 is a prime number
109 is a prime number
113 is a prime number
127 is a prime number
131 is a prime number
137 is a prime number
139 is a prime number
149 is a prime number
151 is a prime number
157 is a prime number
163 is a prime number
167 is a prime number
173 is a prime number
179 is a prime number
181 is a prime number
191 is a prime number
193 is a prime number
197 is a prime number
199 is a prime number
211 is a prime number
223 is a prime number
227 is a prime number
229 is a prime number
233 is a prime number
239 is a prime number
241 is a prime number
251 is a prime number
257 is a prime number
263 is a prime number
269 is a prime number
271 is a prime number
277 is a prime number
281 is a prime number
283 is a prime number
293 is a prime number
307 is a prime number
311 is a prime number
313 is a prime number
317 is a prime number
331 is a prime number
337 is a prime number
347 is a prime number
349 is a prime number
353 is a prime number
359 is a prime number
367 is a prime number
373 is a prime number
379 is a prime number
383 is a prime number
389 is a prime number
397 is a prime number
401 is a prime number
409 is a prime number
419 is a prime number
421 is a prime number
431 is a prime number
433 is a prime number
439 is a prime number
443 is a prime number
449 is a prime number
457 is a prime number
461 is a prime number
463 is a prime number
467 is a prime number
479 is a prime number
487 is a prime number
491 is a prime number
499 is a prime number
503 is a prime number
509 is a prime number
521 is a prime number
523 is a prime number
541 is a prime number
547 is a prime number
557 is a prime number
563 is a prime number
569 is a prime number
571 is a prime number
577 is a prime number
587 is a prime number
593 is a prime number
599 is a prime number
601 is a prime number
607 is a prime number
613 is a prime number
617 is a prime number
619 is a prime number
631 is a prime number
641 is a prime number
643 is a prime number
647 is a prime number
653 is a prime number
659 is a prime number
661 is a prime number
673 is a prime number
677 is a prime number
683 is a prime number
691 is a prime number
701 is a prime number
709 is a prime number
719 is a prime number
727 is a prime number
733 is a prime number
739 is a prime number
743 is a prime number
751 is a prime number
757 is a prime number
761 is a prime number
769 is a prime number
773 is a prime number
787 is a prime number
797 is a prime number
809 is a prime number
811 is a prime number
821 is a prime number
823 is a prime number
827 is a prime number
829 is a prime number
839 is a prime number
853 is a prime number
857 is a prime number
859 is a prime number
863 is a prime number
877 is a prime number
881 is a prime number
883 is a prime number
887 is a prime number
907 is a prime number
911 is a prime number
919 is a prime number
929 is a prime number
937 is a prime number
941 is a prime number
947 is a prime number
953 is a prime number
967 is a prime number
971 is a prime number
977 is a prime number
983 is a prime number
991 is a prime number
997 is a prime number
number of operations = 499 and suboperation = 20599 | prime numbers found 167

In [109]:
squared[0::2]

[[0, 0], [2, 4], [4, 16]]

In [113]:
comp_flat = [i for x in comp for i in x]
print(comp_flat)
print(comp)

[1, 3, 1, 4, 2, 3, 2, 1, 2, 4, 3, 1, 3, 4]
[[1, 3], [1, 4], [2, 3], [2, 1], [2, 4], [3, 1], [3, 4]]

In [117]:
# transposing a nested list
matrix = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]

matrix_t = [[x[i] for x in matrix] for i in range(4)]
print(matrix_t)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [120]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

### Deleting values from a list or the entire list

In [121]:
del(comp[2])
print(comp)

[[1, 3], [1, 4], [2, 1], [2, 4], [3, 1], [3, 4]]

In [122]:
del(comp[0:2]) # does not take the 2nd index, it deletes values at index 0 and 1
print(comp)

[[2, 1], [2, 4], [3, 1], [3, 4]]

In [123]:
del(comp[:])
print(comp)

[]

In [125]:
del comp # deletes the variable from memory. Hence using it in the print command below results in an error.
print(comp)

NameError: name 'comp' is not defined

# Tuple

Tuples are similar to lists except that they are immutable (i.e. once created they cannot be modified).

In [156]:
t = (123, 456, 'Hello World!!!')
print(t)

(123, 456, 'Hello World!!!')

In [158]:
t.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [164]:
l1 = [1,2,3]
l2 = [4,5,6]

t1 = (7,8,9)
t2 = (10,11,12)

t = (l1,l2, t1, t2)

t[0].append(7)

print(t)

([1, 2, 3, 7], [4, 5, 6], (7, 8, 9), (10, 11, 12))

In [165]:
a,b,c,d = t

In [166]:
print(a)
print(b)
print(c)
print(d)

[1, 2, 3, 7]
[4, 5, 6]
(7, 8, 9)
(10, 11, 12)

# Sets

-  Unordered collection of data without duplicates.
-  Can be created using {} or set() function.
-  To create an empty set, the use of set() is necessary, {} will create an empty dictionary object.
-  Will have to loop through the set to get the elements. Set does not use indexing for data access.

In [175]:
s = {}
print(type(s))

<class 'dict'>

In [177]:
basket = {'apple', 'orange', 'pineapple', 'mango'}
print('orange' in basket)
print('peach' in basket)

True
False

In [183]:
name = set('abracadabra')
print(name)

{'a', 'd', 'r', 'b', 'c'}

In [184]:
for x in basket:
    print(x)

mango
pineapple
orange
apple

# Dictionary

-  Dictionary are a set of key/value pairs, with the requirement that keys should be unique. E.g. <font color='orange'>dict = {1:'Femida E.', 2:'Aadhya T.', 3:'Sasi V.', 4:'Amar M'}</font>
-  We can use tuples as keys (as they are immutable) but we cant use list as keys because they can be changed.
-  Main operations performed on Dictionaries
   -  Storing values.
   -  Extracting values given a key.
   -  Deleting values.
- **Dictionary Comprehension** can be used for creating dictionaries programatically.

In [203]:
d = {1:'Femida E.', 2:'Aadhya T.', 3:'Sasi V.', 4:'Amar M'}

In [204]:
d[1]

'Femida E.'

In [205]:
del(d[4])

In [206]:
d

{1: 'Femida E.', 2: 'Aadhya T.', 3: 'Sasi V.'}

In [207]:
d[4] = 'Amar M.'

In [208]:
d

{1: 'Femida E.', 2: 'Aadhya T.', 3: 'Sasi V.', 4: 'Amar M.'}

In [209]:
l = list(d) # creating list from a dictionary returns the list of keys added in the dictionary.
print(l)

[1, 2, 3, 4]

In [216]:
dict(a='alpha', b='bravo', c='charlie') #easier way of creating a dictionary

{'a': 'alpha', 'b': 'bravo', 'c': 'charlie'}

In [219]:
d1 = {x: x**2 for x in range(1,10, 2)} # dictionary comprehension
print(d1)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}