Importing Data from the CSV files

Description of the parameters used in read_csv command
1. encoding = 'unicode_escape'
2. sep = '\t'
3. lineterminator = '\n'

In [10]:
import numpy as np
import pandas as pd

companies_df = pd.read_csv("companies.txt", sep='\t', lineterminator='\n', encoding='unicode_escape')
rounds2_df = pd.read_csv("rounds2.csv", encoding='unicode_escape')

companies_df.head()
#rounds2_df.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,\r
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014\r
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,\r
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007\r
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010\r

In [3]:
#list of unique companies in round2 and companies file
print("list of unique companies in round2: ")
print(len(rounds2_df['company_permalink'].unique().tolist()))


print("list of unique companies: ")
print(len(companies_df['permalink'].unique().tolist()))

list of unique companies in round2:
90247
list of unique companies:
66368

In [14]:
#Checking if there are records in rounds2 dataframe which are not present in companies dataframe.
rounds2_df[~rounds2_df.isin(companies_df)].dropna().count()

company_permalink          28169
funding_round_permalink    28169
funding_round_type         28169
funding_round_code         28169
funded_at                  28169
raised_amount_usd          28169
dtype: int64

In [13]:
companies_df['permalink'].isin(['/organization/-fame']).sum()

0

In [9]:
companies_df.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,\r
1,/organization/-fame,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014\r
2,/organization/-fame,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,\r
3,/organization/-fame,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007\r
4,/organization/-fame,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010\r