In [4]:
import pandas as pd
cities = pd.read_csv("city-list.csv")

In [5]:
cities.head()

   city_name
0  bangalore
1    chennai
2      delhi
3  hyderabad
4    kolkata

In [38]:
a = (cities.loc[cities['city_name'] == 'bangalore']).city_name.str.upper()
#a = (cities.loc[cities['city_name'] == 'abc']).city_name

In [36]:
print(len(a))

1

In [39]:
a

0    BANGALORE
Name: city_name, dtype: object